body {

    background: linear-gradient(263deg, #ffb45d, #e974f8, #fd4141);
}



h1{
    text-align: center;
    font-size: 350%;
    font-family:'JetBrains Mono', monospace;
    padding-top: 5%;
    margin-bottom: -10%;    
}


.logo{
    width: 100;
    height: 100;
}

.genre-selector input{
    display: none;

}


.genre-selector img{

    height: 190px; 
    max-width: 100%;
    display: inline;
    border-radius: 100%;
    position: relative;
    border:5px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: transform .4s;
    box-shadow: -16px 45px 46px 24px rgba(0,0,0,0.18);

}

.genre-selector label:hover img{
    transform: scale(0.8);
    border:5px solid rgb(0, 0, 0);
    background-color: rgba(236, 252, 236, 0.699);

}


.genre-selector input:checked + label img {
 border-color: rgb(97, 255, 97);

}

.genre-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

p{
    font-family: 'JetBrains Mono', monospace;
    margin-left: 32%;
    font-size: 25px;
}




main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(67, 80, 255); 
    width: 450px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    height: 50px;
    margin-top: 12px;
    margin-left:45px;
    color: rgb(149, 178, 255);
    font-family: 'JetBrains Mono', monospace;
    font-size: 120%;
}


.button1{

    position: absolute;
    margin-top: 30%;
    align-items: center;
    justify-content: space-between;
    display: block;
    margin-top: 25%;

}


@media only screen and (max-width: 750px) {

    .genre-selector {
        align-items: center;
        justify-content: space-between;
        display: block;
        margin-top: 25%;
    }

    h1{
    font-size: 300%;
    }
    
    .logo{
    display: none;
    }

    .button1{

        position: absolute;
        align-items: center;
        justify-content: space-between;
        display: block;
        margin-block-start: 100px;
    }
    
}

